* {
    width: 100%;
}

body {
    background: rgb(206, 143, 164);
    font-family: 'Times New Roman', Times, serif;
}

.nav-wrapper {
    width: 90%;
    display: flex;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.centerimg {
    width: 800px;
    height: 800px;
    object-fit: cover;
    margin-left: 200px;
}

span {
    width: 100%;
    background-color: aqua;
    padding: 0.3em;
}

span>a {
    text-decoration: none;
    color: red;
}

p {
    background-color: grey !important;
    padding: 0.2em;
    margin: 0.9em;
}

form {
    width: 600px;
}

.feed {
    width: 500px;
    margin: 1em;
}

.pair {
    margin: 0.5em;
    padding: 0.3em;
}

.sub {
    width: 200px;
    height: 2.5em;
    margin-left: 8em;
    background-color: aquamarine;
}